<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Trombino</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error404</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
    <location>/error500</location>
  </error-page>
 
  <servlet>
    <servlet-name>Trombino</servlet-name>
    <servlet-class>trombino.Trombino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trombino</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Auth</servlet-name>
    <servlet-class>trombino.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>trombino.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>trombino.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add_Comment</servlet-name>
    <servlet-class>trombino.Add_Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Comment</servlet-name>
    <url-pattern>/add_comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Move_Remove_Comment</servlet-name>
    <servlet-class>trombino.Move_Remove_Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Move_Remove_Comment</servlet-name>
    <url-pattern>/move_remove_comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>trombino.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit_Profile</servlet-name>
    <servlet-class>trombino.Edit_Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Profile</servlet-name>
    <url-pattern>/edit_profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>error404</servlet-name>
    <jsp-file>/error404.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>error404</servlet-name>
    <url-pattern>/error404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>error500</servlet-name>
    <jsp-file>/error500.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>error500</servlet-name>
    <url-pattern>/error500</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Send_Email</servlet-name>
    <servlet-class>trombino.Send_Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Send_Email</servlet-name>
    <url-pattern>/send_email</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Email</servlet-name>
    <servlet-class>trombino.Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Confirmation</servlet-name>
    <servlet-class>trombino.Confirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Confirmation</servlet-name>
    <url-pattern>/confirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reset_Password</servlet-name>
    <servlet-class>trombino.Reset_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reset_Password</servlet-name>
    <url-pattern>/reset_password</url-pattern>
  </servlet-mapping>
</web-app>

